/* Style initial */

body {
  margin : 0px;
  font-family: 'Arial', sans-serif;
  background-color: #789fc2; /* Blanc cassé */
  color: #333; /* Texte gris foncé */
}

/* Input interactif */
.autocomplete-container {
  position: relative;
  display: inline-block;
  align-content: center;
}
.autocomplete-results {
  position: absolute;
  background-color: #fff;
  max-height: 150px;
  overflow-y: auto;
  z-index: 1000;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
}
.autocomplete-results div {
  padding: 10px;
  cursor:auto;
  align-items: center;
}
.autocomplete-results div:hover {
  background-color: #f0f0f0;
}

/* Menu avec flex */
.menu {
  display: flex;
  align-content:space-around;
  background-color: #8fcdff;
  padding: 0px;
}

.menu a {
  display: flex; /* Active le mode flexbox */
  align-content:space-around;
  /*justify-content: space-between; /* Ajoute un espacement égal entre les images */
  align-items:flex-start; /* Aligne verticalement les images si nécessaire */
  margin: 0px; /* Optionnel : marge autour du conteneur */
}

.menu a img {
  width: 50%; /* Chaque image prend 20% de la largeur de l'écran */
  height: auto; /* Maintient les proportions des images */
  margin: 0; /* Supprime les marges inutiles */
}

.MyContainer {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 1%;
  margin-left: 1%;
  max-width: 98%;
  padding: 1%;
  background-color: #8fcdff;
  border-radius: 4%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  /*align-items: center;*/
}

.MyContainer h1 {
  font-size: 700%;
  text-align: center;
  color: #c3aa19;
}

.MyContainer h2 {
  font-size: 350%;
  color: #c3aa19;
}

.MyContainer h3 {
  font-size: 290%;
  margin-right: 3%;
  margin-left: 3%;
  color: #1e6da5;
}

.MyContainer h4 {
  font-size: 250%;
  margin-right: 3%;
  margin-left: 3%;
  color: #1e6da5;
}

.MyContainer label {
  font-size: 240%;
  color: #5a7d9a;
}

.MyContainer select {
  margin: 5px 0;
  padding: 5px;
  width: 20%;
  border: 1px solid #b0bec5;
  border-radius: 5px;
  font-size: 155%;
  background-color: #ffffff;
  color: #333;
}

.MyContainer select option:hover {
  background-color: #f0f0f0;

}

/* Inputs */
.MyContainer input {
  margin: 10px 0;
  padding: 10px;
  width: 50%;
  border: 1px solid #b0bec5;
  border-radius: 5px;
  font-size: 155%;
  background-color: #ffffff; /* Blanc */
  color: #333;
}

.MyContainer input::placeholder {
  color: #888;
}

/* Boutons */
.MyContainer button {
  background-color: #5a7d9a; /* Bleu ciel terne */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 160%;
  margin-top: 1%;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #4a657d; /* Bleu gris plus foncé */
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}

/* Liens */
a {
  color: #5a7d9a; /* Bleu ciel terne */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}